* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 24px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  color: #e5e7eb;
  gap: 10px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  padding: 24px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 55px;
  gap: 10px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.gray {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px;
}

.random-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  padding: 25px;
  
}

.photo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px;
  
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 25px;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  
  text-wrap: wrap;
  text-align: center;
  border: 5px solid blue;
  border-radius: 10px;
}
.card-text{
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;
}

.quote{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
